<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>4-2</title>
  <link rel='stylesheet'
    href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.2/css/bootstrap.min.css'
    integrity='sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg=='
    crossorigin='anonymous' />
  <!-- Bootstrap icons CDN -->
  <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <style>
    img {
      object-fit: contain;
      max-width: 100%;
    }

    .primary-image {
      height: 300px;
    }

    .images {
      height: 150px;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="container">
      <div class="text-end mt-4">
        <button class="btn btn-primary" @click="openModal('new')">
          建立新的產品
        </button>
      </div>
      <table class="table mt-4">
        <thead>
          <tr>
            <th width="120">
              分類
            </th>
            <th>產品名稱</th>
            <th width="120">
              原價
            </th>
            <th width="120">
              售價
            </th>
            <th width="100">
              是否啟用
            </th>
            <th width="120">
              編輯
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in products" :key="item.id">
            <td>{{item.category}}</td>
            <td>{{item.title}}</td>
            <td class="text-end">{{item.origin_price}}</td>
            <td class="text-end">{{item.price}}</td>
            <td>
              <span v-if="item.is_enabled" class="text-success">啟用</span>
              <span v-else>未啟用</span>
            </td>
            <td>
              <div class="btn-group">
                <button type="button" class="btn btn-outline-primary btn-sm" @click="openModal('edit', item)"> 編輯
                </button>
                <button type="button" class="btn btn-outline-danger btn-sm"  @click="openModal('del', item)"> 刪除
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- pagination -->
      <pagination :pages="pages" @get-products="getProducts"></pagination>
    </div>
    <!-- Modal -->
    <product-modal ref="pModal"
    :tem-product="temProduct"
    :is-new="isNew"
    :size-check="sizeCheck"
    :star-array="starArray"
    @update-product="updateProduct"
    @add-image="addImage"
    @upload-img="uploadImg"
    @upload-check="uploadCheck"
    @change-star="changeStar"
 
    ></product-modal>
    
    <!--del Modal -->
    <del-modal ref="delModal" :tem-product="temProduct" @del-product="delProduct"></del-modal>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
  <script src="./product.js" type="module"></script>
</body>

</html>